@using Microsoft.AspNetCore.Components.Authorization
@using WebSite.Basket.Components

<h3>Products Avaliable</h3>

<input @bind="searchText" placeholder="Search">
<button @onclick="Search">Search</button>

@if (ProductsLoading)
{
    
    <h3> Loading your products... </h3>
}else
{

    if (!String.IsNullOrEmpty(ErrorMessage))
    {

        <p>@ErrorMessage</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Rank</th>
                    <AuthorizeView>
                        <Authorized>
                            <th>Basket</th>
                        </Authorized>
                    </AuthorizeView>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in displayedProducts)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Category</td>
                        <td>@product.Rank</td>
                       <AuthorizeView>
                           <Authorized>
                            <td><ProductQuantityInput ProductId="@product.Id" Quantity="0" OnQuantityUpdated="OnProductQuantityUpdatedHandler" /></td>
                           </Authorized>
                       </AuthorizeView>
                        
                    </tr>
                }
            </tbody>
        </table>
         

    }
    <p><input style="visibility:hidden" @bind="LastProductId" /></p>
    <p> Pages @currentPage / @totalPages (@TotalRecordsCount) </p>
    <button @onclick="PreviousOnClick" disabled="@IsPreviousDisabled()">Previous</button>
    <button @onclick="NextOnClick" disabled="@IsNextDisabled()">Next</button>


}
